:root {
    margin: 0;
    padding: 0;
}

body{
    font-family: "Signika", sans-serif;
    height:100%;
}

* {
    box-sizing: border-box;
}

.main-container{
    overflow: hidden;
}

#auth-layout{
    min-height: calc(100vh - 50px);
}

#app-layout{
    min-height: calc(100vh - 50px - 130px);
}

