#header-forum {
    margin-left: 5vw;
    margin-top: 2vh;
}

#add-post {
    padding-left: 0;
}

#add-text {
    font-size: 20px;
    padding-left: 1vw;
    padding-top: 0;
    margin-bottom: 0;
}

.add-button {
    display: inline-flex;
    justify-content: space-between;
    color: black;
    align-items: center;
}

#add-post {
    width: 1vw;
}

#add-icon {
    font-size: 26px;
    color: #144a73;
}

#filter-icon {
    font-size: 22px;
    color: #144a73;
}

.forum-pic {
    width: 6vw;
    height: 6vh;
    text-align: right;
}

.avatar-forum {
    max-width: 70px;
    height: auto;
}

.user-and-type {
    display: flex;
    align-items: center;
}

#user-forum {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0.5rem;
}

#type-forum {
    font-size: 15px;
    padding-left: 0.5vw;
    margin-bottom: 0.5rem;
}

#title-forum {
    font-weight: bold;
    font-size: 24px;
}

#synopsis-forum {
    font-weight: lighter;
    font-size: 14px;
}

.card {
    max-width: 90%;
}

.truncate-synopsis {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.time-forum {
    text-align: right;
    max-width: 20%;
}

.forum-synopsis {
    padding-left: 6vw;
    max-width: 100%;
}

.forum-isi {
    max-width: 80%;
}

.btn-forum {
    text-align: right;
}

.btn-forum-next {
    background-color: #033d68;
}

.btn-forum-next:hover {
    background-color: rgb(22, 15, 71);
}

.forum-card {
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    border-color: transparent;
}

.card-body {
    padding: 1rem;
}

.filter-menu {
    width: 40vw;
}

#pagination-forum {
    margin: 2% 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

.empty-forum {
    vertical-align: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #767676;
}

.share-empty{
    margin: 10% 0;
    color: black;
}

.add-button-empty{
    font-weight: bolder;
    margin-bottom: 2%;
}
